/**/
.character-details{
  max-width: 50rem;
}
.smooth-image-wrapper {
  width: 100%;
  height: 15em;
    position: relative;
    border-radius: 3px;
    overflow: hidden;

}
.smooth-image-wrapper .smooth-image{
  transition: opacity 1s;
  width: 100%;
height: 100%;
object-fit: cover;
}
.smooth-image-wrapper  .smooth-no-image {
    display: flex;
    align-items: center;
    justify-content: center;
      width: 100%;
  height: 100%;
    background-color: #fcfcfc;
    text-transform: capitalize;
  }

  .smooth-image-wrapper  .img-visible {
    opacity: 1;
  }

  .smooth-image-wrapper  .img-hidden {
    opacity: 0;
  }

  @keyframes preloader-block {
    from {
      background-position: 0%, 0;
    }
    to {
      background-position: 170%, 0;
    }
  }

  .smooth-image-wrapper  .smooth-preloader {
    position: absolute;
    top: 0;
    left: 0;
      width: 100%;
    height: 100%;
    background: rgba(245, 245, 245, 0.34);

  }
  .smooth-image-wrapper  .smooth-preloader .loader     {
    background-image: linear-gradient(to right, #e6e6e6, #ffffff, #e6e6e6);
      width: 100%;
height: 100%;
    display: inline-block;
    background-size: 200%;
    animation: preloader-block 2s linear 0s infinite reverse forwards;
  }