/* EXTENDS */
.fullSize {
  width: 100%;
  height: 100%;
}

/* KEYFRAMES */
@keyframes preloader-block {
  from {
    background-position: 0%, 0;
  }
  to {
    background-position: 170%, 0;
  }
}

.lazy-image-wrapper {
  width: 100%;
  height: 15em;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  
  .lazy-image{
    transition: opacity 1s;
    @extend .fullSize;
    object-fit: cover;
  }
  
  .lazy-alt {
    display: flex;
    align-items: center;
    justify-content: center;
    @extend .fullSize;
    background-color: #fcfcfc;
    text-transform: capitalize;
  }
    
  .img-visible {
    opacity: 1;
  }
  
  .img-hidden {
    opacity: 0;
  }
  
  .lazy-preloader {
    position: absolute;
    top: 0;
    left: 0;
    @extend .fullSize;
    background: rgba(245, 245, 245, 0.34);
  }
    
  .lazy-preloader .loader     {
    background-image: linear-gradient(to right, #e6e6e6, #ffffff, #e6e6e6);
    @extend .fullSize;
    display: inline-block;
    background-size: 200%;
    animation: preloader-block 2s linear 0s infinite reverse forwards;
  }
}
